.intro {
  margin-bottom: 55px;
}
.intro__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 15px;
}
.intro__description {
  color: #8794ba;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 64px;
}
.intro__link {
  color: #ffffff;
  background-color: #ef2a82;
  padding: 15px 80px;
  border-radius: 58px;
}
